<div class="m-b--35 font-bold">Income Summary</div>
<ul class="dashboard-stat-list">
    <li>
        ABC.lk TOP A : 
        <span class="pull-right">
            <i class="material-icons">trending_up</i>
        </span>
    </li>
    <li>
        ABC.lk TOP B : 
        <span class="pull-right">
            <i class="material-icons">trending_up</i>
        </span>
    </li>
    <li>
        ABC.lk Bottom A : 
        <span class="pull-right">
            <i class="material-icons">trending_down</i>
        </span>
    </li>
    <li>
        ABC.lk Bottom B : 
        <span class="pull-right">
            <i class="material-icons">trending_up</i>
        </span>
    </li>
    <li>
        ABC.lk Left 1 : 
        <span class="pull-right">
            <i class="material-icons">trending_down</i>
        </span>
    </li>
</ul>