<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-sm-3">
                <select class="form-control show-tick">
                    <option value="1">ABC.lk - Top A</option>
                    <option value="2">ABC.lk - Top B</option>
                    <option value="3">ABC.lk - Bottom A</option>
                    <option value="4">ABC.lk - Bottom B</option>
                    <option value="5">ABC.lk - Left 1</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h5>Micro income : </h5>
            </div>
            <div class="col-sm-3">
                <h5 class="font-bold col-teal">Sold <span>[Rs.3500/1month]</span> </h5>
            </div>

           
        </div>
        <ul class="header-dropdown m-r--5">
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0);">Action</a></li>
                    <li><a href="javascript:void(0);">Another action</a></li>
                    <li><a href="javascript:void(0);">Something else here</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="body">
        <div id="real_time_chart" class="dashboard-flot-chart"></div>
    </div>
</div>